body{
  background-color: #B5FFD9;
  text-align: center;
  margin: 0px;
  font-family: serif;
}
h1
{
font-family: 'Kaushan Script', cursive;

}
p{
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Passion One', cursive;
}

.top
{
position: relative;
left:250px;
padding-top: 50px
}
.bottom
{
  position: absolute;
}
.fire{
  width: 50px;
  height: 70px;
  position: absolute;
  top: 90px;
  left: 880px;
}
